.head-container {
    background-color: #7B7B7B;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border-radius: 0.5em;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.image {
    margin-right: 16px;
}


@media (max-width: 600px) {
    .image {
        display: none;
    }

    h1 {
        font-size: 25px;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}